.content-area
    background: #232e42
    margin-top: 20px
    height: 100%

.cards
    display: flex
    justify-content: center
    flex-wrap: wrap

.card
    width: 300px
    height: 400px
    border: 5px solid #0c1119
    margin: 12px
    background: #232e42
    cursor: pointer
    &:hover
        border: 5px solid #cd4b5d
        transition: border .3s ease

    &__image
        height: 320px

    &__title
        color: #fff
        height: 100%
        background: #232e42
        margin: 0
        padding-top: 10px
        text-align: center
        background: #0c1119
            
.card:hover .card__title
    transition: background .3s ease
    background: #cd4b5d

.pagination
    justify-content: center

    &__item
        margin-right: 5px 
        &:last-child
            margin-right: 0 

    &__link
        color: #d06070
        box-shadow: none !important
        &:hover
            color: #cd4b5d

.film-info
    padding-top: 20px
    height: calc(100vh - 80px)
    display: flex
    justify-content: space-between

    &__leftbar
        width: 50%

    &__box
        display: flex
        flex-direction: column
        align-items: center

    &__image
        width: 300px
        height: 350px

    &__btn
        width: 300px
        outline: none
        border: 0
        padding: 15px 0
        color: #fff
        background: #0c1119
        &:hover
            transition: .3s ease
            background: #cd4b5d

    &__rightbar
        width: 50%
        padding: 20px
        color: #fff
        border: 2px solid #fff
        border-radius: 5px

    &__line
        display: flex
        flex-direction: column
        margin-bottom: 20px
        &:last-child
            margin-bottom: 0

    &__text
        font-weight: 600
        padding-bottom: 10px


.favorites
    height: 100%
    background: 100%

    &__title,
    &__list
        display: flex

    &__list
        position: relative

    &__item,
    &__data
        width: 25%
        text-align: center
        border: 2px solid #fff
        border-left: 0 
        padding: 10px
        color: #fff
        &:first-child
            border-left: 2px solid #fff

    &__data
        width: auto
        padding: 0
        border: 0
        display: flex
        &:first-child
            border-left: 0

    &__info
        width: 25%
        border: 2px solid #fff
        border-left: 0
        padding: 10px
        &:first-child
            border-left: 2px solid #fff
        &:nth-child(2)
            overflow-x: scroll

    &__close
        width: 20px
        height: 20px
        position: absolute
        top: 10px
        right: 10px
        background-repeat: no-repeat  !important
        background-size: contain !important
        cursor: pointer

@media screen and (max-width: 992px)
    .film-info
        flex-direction: column
        justify-content: flex-start

        &__leftbar,
        &__rightbar
            width: 80%
            margin: 0 auto

        &__leftbar
            margin-bottom: 30px

@media screen and (max-width: 576px)
    .content-area
        height: 100%

    .film-info

        &__image 
            width: 100%
            max-width: 300px

        &__btn
            width: 100%
            max-width: 300px

        &__leftbar,
        &__rightbar
            width: 100%   

        &__rightbar
            min-height: 100px
            overflow: scroll
