.header
    height: 60px
    background: #232e42
    &__logo
        text-align: center
        &:hover
            transition: .3s
            background: #0c1119
    
    &__navigation
        height: 100%
        color: #fff

.logo
    font-size: 24px
    font-weight: 600
    color: #fff
    line-height: 60px
    display: block
    &:hover
        text-decoration: none
        color: #fff


.navigation
    display: flex
    justify-content: flex-start
    align-items: center

    &__user
        padding: 0 10px

    &__link
        color: #fff
        margin-right: 20px
        text-align: center
        padding: 5px 10px
        background: #d06070
        &:hover
            transition: background .3s
            text-decoration: none
            color: #fff
            background: #cd4b5d
        &:last-child
            margin-right: 0

    &__search
        display: flex
    
    &__area
        color: #232e42
        padding: 5px 10px
        border: 0
        outline: 0
        border-top-left-radius: 5px

    &__btn
        width: 30px
        border: 0
        outline: 0 !important
        display: block
        position: relative
        border-bottom-right-radius: 5px
        background: #d06070
        &:hover
            transition: .3s
            background: #cd4b5d
        &:after
            content: ''
            width: 19px
            height: 19px
            position: absolute
            left: 0
            top: 7px
            right: 0
            margin: 0 auto
            background-image: url('../../../icons/search-white.png') !important
            background-repeat: no-repeat
            background-size: contain


@media screen and (max-width: 768px)
    .header
        height: auto
        padding: 20px 0

    .navigation
        flex-direction: column
        align-items: flex-start
        &__link
            margin-bottom: 15px

    
        &__user
            padding-left: 0
            padding-bottom: 10px
