.box
    height: 100vh
    width: 100vw
    display: flex
    justify-content: center
    align-items: center

.form
    width: 400px
    padding: 20px 0
    position: relative
    border-radius: 5px
    background: #232e42

    &__label
        color: #fff
        cursor: pointer

    &__area
        color: #232e42
        &:focus
            border-color: #d06070
            box-shadow: 0 0 0 1.5px rgba(208, 96, 112, 46)

    &__radio
        display: inline-block
        &:first-child
            margin-right: 15px
        
    &__btn
        display: block
        margin: 0 auto
        color: #fff
        box-shadow: none !important
        background: #d06070
        &:hover
            background: #cd4b5d
            color: #fff

    &__registrationlink
        text-align: center
        display: block
        color: #fff
        padding-bottom: 15px
        &:hover
            text-decoration: none
            color: #fff

.message 
    width: 100%
    height: 45px
    position: absolute
    top: -30px
    border-top-left-radius: 5px
    border-top-right-radius: 5px
    display: flex
    justify-content: center
    align-items: center
    background: #e94646

    &__text
        color: #fff



@media screen and (max-width: 768px)
    .form
        height: 100%
        width: 100%
        border-radius: 0
        display: flex
        justify-content: center
        align-items: center



.custom-control-input:not(:disabled):active ~ .custom-control-label::before,
.custom-control-input:checked ~ .custom-control-label::before  
    background-color: #cd4b5d
    border-color: #cd4b5d

.custom-control-input:focus ~ .custom-control-label::before
    box-shadow: none

